# Ignore node_modules directories
/frontend/node_modules/
/frontend/.env
/backend/node_modules/
/backend/.env

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment variables
.env

# Ignore build directories
/dist
/build

# Ignore OS-specific files
.DS_Store
Thumbs.db
