@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

/* ScrollBar */
/* Custom scrollbar for webkit browsers */
body::-webkit-scrollbar {
    width: 2px;
    height: 12px;
}

body::-webkit-scrollbar-track {
    background: #ff0000;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ff0000;
}

body::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

/* Custom scrollbar for Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #ff0000 #f1f1f1;
}

/* Custom scrollbar for IE and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Loading State */
.blur-background {
    filter: blur(2px);
    pointer-events: none;
    /* Prevents interactions with the blurred elements */
}

/* For the overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* Ensure it covers the entire page */
}