@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

/* ScrollBar */
/* Custom scrollbar for webkit browsers */
body::-webkit-scrollbar {
    width: 2px;
    height: 12px;
}

body::-webkit-scrollbar-track {
    background: #ff0000;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
    border: 3px solid #ff0000;
}

body::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

/* Custom scrollbar for Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: #ff0000 #f1f1f1;
}

/* Custom scrollbar for IE and Edge */
body {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Loading State */
.blur-background {
    filter: blur(2px);
    pointer-events: none;
    /* Prevents interactions with the blurred elements */
}

/* For the overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    /* Ensure it covers the entire page */
}

/* Dashboard Sidebar */
body, html, #root {
    height: 100%;
    margin: 0;
}

.fixed-sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #2c2c2c;
    color: #fff;
    z-index: 1000;
}

.scrollable-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    overflow-y: auto;
    height: 100vh;
    padding: 20px;
    background-color: #3c3c3c;
}

/* Calendar */
/* Custom styles for the Calendar */
.react-calendar.calendar-dark {
    background-color: #2D3748;
    /* Dark background */
    color: #FFFFFF;
    /* White text */
    border-radius: 10px;
    border: none;
    /* Remove default border */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow effect */
}

/* Ensure tiles and header styling */
.react-calendar__tile {
    background-color: #2D3748;
    color: #A0AEC0;
    /* Light text color */
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.react-calendar__tile:enabled:hover {
    background-color: #4A5568;
    color: white;
}

.react-calendar__tile--now {
    background: #2B6CB0;
    color: white;
}

.react-calendar__tile--active {
    background: #3182CE;
    color: white;
}

.react-calendar__navigation {
    background-color: #1A202C;
    color: #A0AEC0;
}

.react-calendar__navigation__label {
    font-weight: bold;
    color: #CBD5E0;
}

/* Custom tile dot (e.g., for attendance) */
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 auto;
}

/* Present and absent indicators */
.present {
    background-color: #38A169;
    /* Green for present */
}

.absent {
    background-color: #E53E3E;
    /* Red for absent */
}